{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <div class="container-md">
      {% for message in app.flashes('message') %}
        <div class="col">
          <div class="p-3 my2 success">{{ message }}</div>
        </div>
      {% endfor %}
      <h1 class="texte"> Profil de l'utilisateur</h1>
      <div class="row row-cols-1 row-cols-md-1 row-cols-lg-2">
        {% if is_granted('ROLE_PARTNER') %}
        <div class="col">
          <h2 style="color: #06255b;">Email: </h2>
          <p class="fs-4">{{ app.user.email }}</p>
          <h2 style="color: #06255b;">Franchise: </h2>
          <p class="fs-4">{{ app.user.franchise.name }}</p>
          <a href="{{ path('change_password') }}" class="btn btn-success">Modifier le mot de passe</a>
        </div>
        <div class="col">
          <h2 style="color: #06255b;">Structures liées:</h2>
          {% for structure in app.user.franchise.structures %}
          <p class="fs-4">- {{ structure.address }}</p>
          {% endfor %}
        </div>
      </div>
      <div class="row">
        <div class="col">
          <main class="conteneur">
          <section class="rang my-3">
            <article class="carte">
              <div class="en-têteCarte">
                <h1 class="en-tête">Permissions globals </h1>
              </div>
              <div class="titre">
                <h2 class="les-droits">Les droits</h2>
              </div>
              <div class="corpsCarte">
                <table class="table table-borderless">
                  <tbody>
                  {% for droit in app.user.franchise.structuresDroits %}
                    <tr>
                      <td class="detail">
                        {{ droit.droits.name }}
                      </td>
                      <td class="detail">
                        <div class="form-switch text-center">
                          <input class="form-check-input" type="checkbox"
                            {{ (droit.status) ? 'checked' : ''}}
                                 id="flexSwitchCheckDefault">
                          <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                        </div>
                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </article>
          </section>
          </main>
        </div>
      </div>
      {% elseif is_granted('ROLE_MANAGER') %}
      <div class="col">
        <h2 style="color: #06255b;">Email: </h2>
        <p class="fs-4">{{ app.user.email }}</p>

        <h2 style="color: #06255b;">Structure: </h2>
        <p class="fs-4">{{ app.user.structure.address }}</p>

        <a href="{{ path('change_password') }}" class="btn btn-success my-3">Modifier le mot de passe</a>
      {% endif %}
      </div>
    </div>
{% endblock %}
