{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="container my-4 p-3">
        <h1 class="texte"> Ajout d'un utilisateur</h1>
        {{ form_start(registrationForm) }}
        <div class="row row-cols-1">
            <div class="col-lg-2 col-sm-5 my-2">
                {{ form_label(registrationForm.status, 'Status') }}<br>
                {{ form_widget(registrationForm.status, {attr:{'class':'form-select'}}) }}
            </div>
            <div class="col-lg-3 col-sm-5 my-2">
                {{ form_label(registrationForm.roles, 'Rôle') }}<br>
                {{ form_widget(registrationForm.roles, {attr:{'class':'form-select'}}) }}
            </div>
            <div class="col-md-12 my-2">
                {{ form_row(registrationForm.firstname) }}
            </div>
            <div class="col-md-12 my-2">
                {{ form_row(registrationForm.lastname) }}
            </div>
            <div class="col-md-12 my-2">
                {{ form_row(registrationForm.email) }}
            </div>
            <div class="col-md-12 my-2">
                {{ form_label(registrationForm.plainPassword, 'Mot de passe') }}<br>
                {{ form_widget(registrationForm.plainPassword) }}
            </div>
            <div class="col-md-8 my-2">
                <button type="submit" class="btn btn-lg btn-warning my-2">Inscrire</button>
            </div>

            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}