{% extends 'base.html.twig' %}

{% block title %}{{ app.user.structure.address }}- Crossfit_life{% endblock %}


{% block body %}
    <div class="texte">{{ app.user.structure.address }}</div>
    <div class="conteneur">
        <section class="rang">
                <article class="carte">
                    <div class="en-têteCarte">
                        <h1 class="en-tête">{{ app.user.structure.address }}</h1>
                    </div>
                    <div class="titre">
                        <h2 class="les-droits">Les droits</h2>
                    </div>
                    <div class="corpsCarte">
                        <table class="table table-borderless">
                            <tbody>
                            {% for droit in app.user.structure.structuresDroits %}
                                <tr>
                                    <td class="detail">
                                        {{ droit.droits.name }}
                                    </td>
                                    <td class="detail">
                                        <div class="form-switch text-center">
                                            <input class="form-check-input" type="checkbox"
                                              {{ (droit.status) ? 'checked' : ''}}
                                                   id="flexSwitchCheckDefault" disabled>
                                            <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </article>
        </section>
    </div>
{% endblock %}