{% extends 'base.html.twig' %}

{% block title %}Ajout de franchise{% endblock %}

{% block body %}
  <div class="container my-4 p-3">
    <h1 class="texte"> Ajout de franchise</h1>
    {{ form_start(form_add_franchise) }}
        {{ form_label(form_add_franchise.name, 'Ville: ') }}<br>
        {{ form_widget(form_add_franchise.name, {attr:{'class':'form-control col-md-12 my-2'}}) }}
      {{ form_label(form_add_franchise.slug, 'Slug: ') }}<br>
      {{ form_widget(form_add_franchise.slug, {attr:{'class':'form-control col-md-12 my-2'}}) }}
        {{ form_label(form_add_franchise.status, 'Status: ') }}<br>
        {{ form_widget(form_add_franchise.status, {attr:{'class':'form-select col-md-12 my-2'}}) }}
      <div class="col-md-12 my-2" id="structuresDroits" data-prototype="{{ form_row(form_add_franchise.structuresDroits.vars.prototype)|e('html_attr') }}">
        <div class="card">
          <div class="card-body">
            {{ form_row(form_add_franchise.structuresDroits) }}
            <span></span>
          </div>
        </div>
      </div>
      <div class="col-md-8 my-2">
        <button type="submit" class="btn btn-lg btn-warning my-2">Ajouter</button>
      </div>
      {{ form_end(form_add_franchise) }}
  </div>
{% endblock %}

{% block javascripts %}
   <script>
      let collection, boutonAjout, span;
      window.onload = () => {
        collection = document.querySelector('#structuresDroits');
        span = collection.querySelector("span");

        boutonAjout = document.createElement("button");
        boutonAjout.className = "ajout-droit btn btn-success my-2";
        boutonAjout.innerText = "Ajouter une permission";

        let nouveauBouton = span.append(boutonAjout);

        collection.dataset.index = collection.querySelectorAll("input").length;

        boutonAjout.addEventListener("click", function(){
          addButton(collection, nouveauBouton);
        });
      }

      function addButton(collection, nouveauBouton){
        let prototype = collection.dataset.prototype;

        let index = collection.dataset.index;

        prototype = prototype.replace(/__name__/g, index);

        let content = document.createElement("html");
        content.innerHTML = prototype;
        let newForm = content.querySelector("div");

        let boutonSuppr = document.createElement("button");
        boutonSuppr.type = "button";
        boutonSuppr.className = "btn btn-danger my-2";
        boutonSuppr.id = "delete-droit-" + index;
        boutonSuppr.innerText = "Supprimer cette permission"

        newForm.append(boutonSuppr);

        collection.dataset.index++;

        let boutonAjout = collection.querySelector(".ajout-droit");

        span.insertBefore(newForm, boutonAjout);

        boutonSuppr.addEventListener("click", function (){
          this.previousElementSibling.parentElement.remove();
        })
      }
  </script>
{% endblock %}