{% extends 'base.html.twig' %}

{% block title %}Ajout de franchise{% endblock %}

{% block body %}
  <div class="container my-4 p-3">
    <h1 class="texte"> Ajout de franchise</h1>
    {{ form_start(form_add_franchise) }}
    <div class="row">
      <div class="col-md-12 my-2">
        {{ form_label(form_add_franchise.name, 'Ville: ') }}<br>
        {{ form_widget(form_add_franchise.name, {attr:{'class':'form-control'}}) }}
      </div>
      <div class="col-md-12 my-2">
        {{ form_label(form_add_franchise.slug, 'Adresse dans onglet: ') }}<br>
        {{ form_widget(form_add_franchise.slug, {attr:{'class':'form-control'}} ) }}
      </div>
      <div class="col-md-12 my-2">
        {{ form_label(form_add_franchise.status, 'Status: ') }}<br>
        {{ form_widget(form_add_franchise.status, {attr:{'class':'form-select'}}) }}
      </div>
      {% for row in form_add_franchise.structuresDroits %}
      <div class="carte">
        <div class="en-têteCarte">
          {{ row.elements.0.droits }}
        </div>
        <div class="titre">
          <h2 class="les-droits">Les droits</h2>
        </div>
        <div class="corpsCarte">
          <table class="table table-borderless">
            <tbody>
              <tr>
                <div class="detail">
                  {{ form_row(row) }}
                </div>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
      {% endfor %}
      {{ form_end(form_add_franchise) }}
    </div>
  </div>
{% endblock %}