{% extends 'base.html.twig' %}

{% block title %}Ajout de franchise{% endblock %}

{% block body %}
  <div class="container my-4 p-3">
    <h1 class="texte"> Ajout de franchise</h1>
    {{ form_start(form_add_franchise) }}
      {{ form_label(form_add_franchise.name, 'Franchise') }}<br>
      {{ form_widget(form_add_franchise.name, {attr:{'class':'form-control col-md-12 my-2'}}) }}
      {{ form_label(form_add_franchise.status, 'Statut') }}<br>
      {{ form_widget(form_add_franchise.status, {attr:{'class':'form-select col-md-12 my-2'}}) }}
        <div class="col-md-12 my-2" id="structuresDroits" data-prototype="{{ form_row(form_add_franchise.structuresDroits.vars.prototype)|e('html_attr') }}">
          <div class="card">
            <div class="card-body">
              {{ form_row(form_add_franchise.structuresDroits) }}
              <span></span>
            </div>
          </div>
        </div>
      {{ form_end(form_add_franchise) }}
  </div>
{% endblock %}
