{% extends 'base.html.twig' %}

{% block title %}Modification de la franchise{% endblock %}

{% block body %}
  <div class="container my-4 p-3">
    <h1 class="texte"> Modifier la franchise</h1>
    {{ form_start(form_edit_franchise) }}
    <div class="row">
      <div class="col-lg-2 col-sm-5 my-2">
        {{ form_label(form_edit_franchise.status, 'Statut ') }}<br>
        {{ form_widget(form_edit_franchise.status, {attr:{'class':'form-select'}} ) }}
      </div>
      <div class="col-md-12 my-2">
        {{ form_row(form_edit_franchise.user) }}
      </div>
      <div class="col-md-12 my-2">
        {{ form_row(form_edit_franchise.name) }}
      </div>
      <div class="col-md-8 my-2">
        <button type="button" class="btn btn-lg btn-warning my-2"
                data-bs-toggle="modal" data-bs-target="#modify">
          Modifier
        </button>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="modify" tabindex="-1" aria-labelledby="modal-modify" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title fs-5" id="modal-modify">Confirmation de modification</h2>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Êtes-vous sûr(e) de vouloir modifier la franchise?
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Confirmer</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
            </div>
          </div>
        </div>
      </div>
      {{ form_end(form_edit_franchise) }}
    </div>
      <article class="carte">
        <div class="en-têteCarte">
          <h1 class="en-tête">Permissions globales</h1>
        </div>
        <div class="titre">
          <h2 class="les-droits">Les droits</h2>
        </div>
        <div class="corpsCarte">
          <table class="table table-borderless">
            <tbody>
            {% for droit in franchises.structuresDroits %}
              <tr>
                <td class="detail">
                  {{ droit.droits.name }}
                </td>
                <td class="detail">
                  <form class="form-switch text-center" action="{{ url('franchises_activer_global_permission', { slug: franchises.slug, id: droit.id }) }}" method="post">
                    <input type="hidden" name="token" value="{{ csrf_token('modify_item') }}"/>
                    <button type="submit">
                      <input class="form-check-input switch-franchise" type="checkbox"
                        {{ (droit.status) ? 'checked' : ''}}
                             id="flexSwitchCheckDefault" data-id="{{ droit.id }}">
                      <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                    </button>
                  </form>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </article>
  </div>
{% endblock %}