{% extends 'base.html.twig' %}

{% block title %}Ajout de franchise{% endblock %}

{% block body %}
  <div class="container my-4 p-3">
    <h1 class="texte"> Ajout de droits global au franchise</h1>
    {{ form_start(form_add_global_permission) }}
    <div class="row">
      <div class="col-md-12 my-2">
        {{ form_label(form_add_global_permission.franchise, 'Franchise liée: ') }}<br>
        {{ form_widget(form_add_global_permission.franchise, {attr:{'class':'form-select'}}) }}
      </div>
      <div class="col-md-12 my-2">
        {{ form_label(form_add_global_permission.droits, 'Droit à ajouter: ') }}<br>
        {{ form_widget(form_add_global_permission.droits, {attr:{'class':'form-select'}}) }}
      </div>
      <div class="col-md-12 my-2">
        {{ form_label(form_add_global_permission.status, 'État du droit: ') }}<br>
        {{ form_widget(form_add_global_permission.status, {attr:{'class':'form-select'}} ) }}
      </div>
      <div class="col-md-12 my-2">
        {{ form_widget(form_add_global_permission.submit) }}
      </div>

      {{ form_end(form_add_global_permission) }}
    </div>
  </div>
{% endblock %}