{% extends 'base.html.twig' %}

{% block title %}Franchises-Crossfit_life{% endblock %}

{% block body %}
    <div class="texte">Franchises</div>
    <main class="container text-center">
        <section class="row justify-content-md-center">
            <div class="col-10">
                <a href="{{ path("franchises_ajout") }}" class="btn btn-sm btn-warning m-2">Ajouter une franchise</a>
                <table id="datatable" class="table">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col" class="text-center">ID</th>
                            <th scope="col" class="text-center">Statut</th>
                            <th scope="col" class="text-center">Franchise</th>
                            <th scope="col" class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for franchise in franchises %}
                        <tr>
                            <th scope="row" class="align-middle">{{ franchise.id }}</th>
                            <td class="align-middle">
                                <div class="form-switch text-center">
                                    <input class="form-check-input switch-franchise" type="checkbox"
                                            {{ (franchise.status) ? 'checked' : ''}} data-id="{{ franchise.id }}"
                                           id="flexSwitchCheckDefault">
                                    <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                                </div>

                            </td>
                            <td class="align-middle">{{ franchise.name }}</td>
                            <td class="align-middle">
                                <a href="{{ path('franchises_details', {slug: franchise.slug}) }}" class="btn btn-sm btn-warning m-2">Voir les structures</a>
                                <a href="{{ path('franchises_modifier', {slug: franchise.slug}) }}" class="btn btn-sm btn-warning m-2">Modifier</a>
                                <button type="button" class="btn btn-sm btn-danger m-2" data-bs-toggle="modal" data-bs-target="#delete{{ franchise.id }}">
                                    Supprimer
                                </button>
                            </td>
                        </tr>
                        <!-- Modal -->
                        <div class="modal fade" id="delete{{ franchise.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h2 class="modal-title fs-5" id="exampleModalLabel">Confirmation de suppression</h2>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Êtes-vous sûr(e) de vouloir supprimer la franchise?
                                    </div>
                                    <div class="modal-footer">
                                        <form action="{{ path ('franchises_delete', {'id': franchise.id}) }}" method="post">
                                            <input type="hidden" name="token" value="{{ csrf_token('delete-item') }}"/>

                                            <button type="submit" class="btn btn-danger">Confirmer</button>
                                        </form>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/franchiseScript.js') }}" defer></script>
{% endblock %}