{% extends 'base.html.twig' %}

{% block title %}Franchises-Crossfit_life{% endblock %}

{% block body %}
    <div class="texte">Franchises</div>
    <main class="container text-center">
        <section class="row justify-content-md-center">
            <div class="col-10">
                <a href="{{ path("franchises_ajout") }}" class="btn btn-warning">Ajouter une franchise</a>
                <table id="datatable" class="table">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Status</th>
                            <th scope="col">Name</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for franchise in franchises %}
                        <tr>
                            <th scope="row" class="align-middle">{{ franchise.id }}</th>
                            <td>
                                <div class="form-switch text-center">
                                    <input class="form-check-input" type="checkbox"
                                            {{ (franchise.status) ? 'checked' : ''}} data-id="{{ franchise.id }}"
                                           id="flexSwitchCheckDefault">
                                    <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                                </div>

                            </td>
                            <td class="align-middle">{{ franchise.name }}</td>
                            <td class="align-middle">
                                <a href="{{ path('franchises_details', {slug: franchise.slug}) }}" class="btn btn-warning">Voir les structures</a>
                                <a href="{{ path('franchises_modifier', {'id': franchise.id}) }}" class="btn btn-warning">Modifier</a>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-delete">
                                    Supprimer
                                </button>



                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </main>

    <div class="modal fade" id="modal-delete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Understood</button>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
