{% extends 'base.html.twig' %}

{% block title %}Ajouter une structure{% endblock %}

{% block body %}
  <div class="container my-4 p-3">
    <h1 class="texte"> Ajout de structure</h1>
    {{ form_start(form_add_structure) }}
      <div class="row">
        <div class="col-md-12 my-2">
          {{ form_label(form_add_structure.status, 'Status: ') }}<br>
          {{ form_widget(form_add_structure.status, {attr:{'class':'form-select'}}) }}
        </div>
        <div class="col-md-12 my-2">
          {{ form_label(form_add_structure.address, 'Adresse de la structure: ') }}<br>
          {{ form_widget(form_add_structure.address, {attr:{'class':'form-control'}}) }}
        </div>
        <div class="col-md-12 my-2">
          {{ form_label(form_add_structure.slug) }}<br>
          {{ form_widget(form_add_structure.slug, {attr:{'class':'form-control'}} ) }}
        </div>
        <div class="col-md-12 my-2">
          {{ form_label(form_add_structure.franchise) }}<br>
          {{ form_widget(form_add_structure.franchise, {attr:{'class':'form-select'}}) }}
        </div>
        <div class="col-md-12 my-2">
          {{ form_label(form_add_structure.structuresDroits) }}<br>
          {{ form_widget(form_add_structure.structuresDroits, {attr:{'class':'form-select'}}) }}
        </div>

        <div class="col-md-12 my-2">
          {{ form_widget(form_add_structure.submit) }}
        </div>

        {{ form_end(form_add_structure) }}
      </div>
  </div>
{% endblock %}

{% block javascripts %}
  <script>
    window.onload = () => {
      // On va chercher la franchise
      let franchise = document.querySelector('#structure_franchise');

      franchise.addEventListener("change", function (){
        let form = this.closest("form");
        let data = this.name + "=" + this.value;

        fetch(form.action, {
          method: form.getAttribute("method"),
          body: data,
          headers: {
            "Content-type": "application/x-www-form-urlencoded; charset:utf-8"
          }
        })
          .then(response => response.text())
          .then(html => {
            let content = document.createElement('html');
            content.innerHTML = html;
            let newSelect = content.querySelector('#structure_franchise');
            document.querySelector('#structure_franchise').replaceWith(newSelect);
          })
          .catch(error => {
            console.log(error);
          })
      });
    }
  </script>
{% endblock %}