{% extends '/base.html.twig' %}

{% block title %}Structures-Crossfit_life{% endblock %}

{% block body %}
    <div class="texte">Structures</div>
    <main class="container text-center">
        <section class="row justify-content-md-center">
            <div class="col-10">
                <a href="{{ path("structures_ajout") }}" class="btn btn-warning">Ajouter une structure</a>
                <table id="datatable" class="table">
                    <thead class="table-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Status</th>
                        <th scope="col">Adresse</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for structure in structures %}
                        <tr>
                            <th scope="row" class="align-middle">{{ structure.id }}</th>
                            <td>
                                <div class="form-switch text-center">
                                    <input class="form-check-input" type="checkbox"
                                            {{ (structure.status) ? 'checked' : ''}}
                                           id="flexSwitchCheckDefault">
                                    <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                                </div>
                            </td>
                            <td class="align-middle">{{ structure.address }}</td>
                            <td class="align-middle">
                                <a href="{{ path('structures_details', {slug: structure.slug}) }}" class="btn btn-warning">Voir la structures</a>
                                <a href="{{ path('structures_modifier', {'id': structure.id}) }}" class="btn btn-warning">Modifier</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </main>

{% endblock %}